<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="/var/www/NAMO/nlog-internal.log" >
	
	<targets>
		<target xsi:type="Database"
				name ="NAMOLogDB"
				dbProvider="System.Data.SqlClient"
				connectionString ="${configsetting:name=ConnectionStrings.NAMO}"
				commandText="INSERT INTO OperationLogs (LogDate, LogLevel, RequestAddress, TraceIdentifier, Message, MessageData, Logger, [Exception]) VALUES (@logDate, @logLevel, @requestAddress, @traceIdentifier, @message, @messageData, @logger, @exception)">
			<parameter name="@logDate" layout="${date}"/>
			<parameter name="@logLevel" layout="${uppercase:${level}}"/>
			<parameter name="@requestAddress" layout="${custom:request-ip}"/>
			<parameter name="@traceIdentifier" layout="${custom:trace-identifier}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@messageData" layout="${event-properties:item=message-data}"/>
			<parameter name="@logger" layout="${logger:shortName=true}"/>
			<parameter name="@exception" layout="${exception}"/>
		</target>
	</targets>
	<rules>
		<logger name="NAMO.Application.*" level="Info" writeTo="NAMOLogDB"/>
		<logger name="NAMO.Infrastructure.*" level="Info" writeTo="NAMOLogDB"/>
		<logger name="NAMO.Persistence.*" level="Info" writeTo="NAMOLogDB"/>
		<logger name="NAMO.WebApi.*" level="Info" writeTo="NAMOLogDB"/>
		<logger name="NAMO.*" level="Debug,Error,Warning" writeTo="NAMOLogDB"/>
	</rules>
</nlog>