<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="/var/www/NAMO/nlog-internal.log" >
	
	<targets>
		<target xsi:type="Database"
				name ="NAMOLogDB"
				dbProvider="System.Data.SqlClient"
				connectionString ="${configsetting:name=ConnectionStrings.NAMO}"
				commandText="INSERT INTO Operationlogs (LogDate, LogLevel, IpAddress, OperationHash, Message, RequestMethod, RequestEndpoint, Logger, CallSite, StackTrace, [Exception]) VALUES (@logDate, @logLevel, @ipAddress, @operationHash, @message, @requestMethod, @requestEndpoint, @logger, @callSite, @stackTrace, @exception)">
			<parameter name="@logDate" layout="${date}"/>
			<parameter name="@logLevel" layout="${uppercase:${level}}"/>
			<parameter name="@ipAddress" layout="${clientIpAddress}"/>
			<parameter name="@operationHash" layout="${operationHash}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@requestMethod" layout="${requestMethod}"/>
			<parameter name="@requestEndpoint" layout="${requestEndpoint}"/>
			<parameter name="@logger" layout="${logger} "/>
			<parameter name="@callSite" layout="${callsite}"/>
			<parameter name="@stackTrace" layout="${stacktrace}"/>
			<parameter name="@exception" layout="${exception}"/>
		</target>
	</targets>
	<rules>
		<logger name="NAMO.Application.Features.Patients.Queries.*" level="Info" writeTo="NAMOLogDB"/>
		<logger name="NAMO.*" level="Debug" writeTo="NAMOLogDB"/>
		<logger name="NAMO.*" level="Error" writeTo="NAMOLogDB"/>
	</rules>
</nlog>